@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap");

.header {
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #e2e2ea;
  height: 75px;
  width: 105vw;
  justify-content: space-between;
}
.header_div1 {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.header_div2 {
  display: flex;
  align-items: center;
  width: 185px;
  justify-content: space-between;
  margin-right: 100px;
}
.logo {
  background: #e2e2ea;
  height: 36.5px;
  width: 36.5px;
  margin-right: 8px;
  border-radius: 8px;
}
.header_circle {
  height: 36.5px;
  width: 36.5px;
  background: #92929d;
  border-radius: 50%;
}
.header_h3 {
  font-size: 24px;
  font-family: "Mulish", sans-serif;
}
.header_h4 {
  margin: 0px 0px;
}
.header_p {
  margin: 0px 0px;
  font-size: 2vh;
  color: #92929d;
}

