.sidebar {
    background-color: #ffffff;
    border-right: 1px solid #e2e2ea;
    height: 227vh;
    width: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sidebar_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    justify-content: space-evenly;
  }
  .sidebar_setting_div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar_setting_icon {
    margin-bottom: 20vh;
    cursor: pointer;
    padding: 15px 15px;
  }
  .icons
  {
      cursor: pointer;
      padding: 15px 15px;
      fill: #ffffff;
  }
  .icon {
    background-color: #5541d7;
    padding: 15px 15px;
    border-radius: 8px;
    fill: #ffffff;
    cursor: pointer;
  }
  